<% @recipes.each do |recipe| %>
<%=  recipe.name %>
<% end %>


<%# <ul>
  <li>name,description,rating,prep_time,done</li>
  <li>"White Chocolate, Chocolate Cookies",The reverse Chocolate Chip cookie. Rich dark chocolate with white chocolate chips.,Rating: 4.53 stars,25 mins,true</li>
  <li>Strawberry Delight,A delightful strawberry dessert that is sure to be eaten quickly.,Rating: 4.74 stars,30 mins,false</li>
  <li>Very Banana-y Whole Wheat Banana Bread,Healthy banana bread.,Rating: 4.63 stars,15 mins,false</li>s
</ul> %>


<a href="http://localhost:4567/new">New Page</a>

<%= Time.now %>
